@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wpa2bh');
  src:  url('../fonts/icomoon.eot?wpa2bh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wpa2bh') format('truetype'),
    url('../fonts/icomoon.woff?wpa2bh') format('woff'),
    url('../fonts/icomoon.svg?wpa2bh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\f128";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-phone:before {
  content: "\f095";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rub:before {
  content: "\f158";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-vk:before {
  content: "\f189";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
